/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Great+Vibes|Poppins&display=swap');

.container {
    width: 100% !important;
    height: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
    padding: 0;
}

.navbar {
    /* Moonlit Asteroid Gradient */
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */

    /* Royal Gradient */
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);

    width: 100% !important;
    height: 30% !important;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Poppins';
    font-size: 22px;
}

.nav-item {
    color: white !important;
    padding: 1em;
    margin: 0.5em;
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-item:hover {
    background-color: #80ACFF;
    color: #152034;
    transition: 0.5s;
}

.about {
    width: 100%;
    display: block;
    height: 70%;
    background-color: #5A8FCC;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
}

.myPhoto {
    display: block;
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: auto;
}

.name,
.title {
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    text-align: center;
}

.title {
    font-size: 30px !important;
}